* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "sans-serif";
  box-sizing: border-box;
}

/*---------- Nav Bar ----------*/

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 20px;
  margin-left: 12px;
}

.nav-left .logo {
  width: 120px;
}

.nav-middle .voice-search-icon {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 30vw;
}

.nav-middle .search-box img {
  width: 15px;
}

/*---------- Side Bar ----------*/

.sidebar {
  background: white;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}

.shortcut-links a img {
  width: 25px;
  margin-right: 20px;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 8px 12px;
}

.shortcut-links a:first-child {
  background-color: rgba(243, 238, 238, 0.5);
  padding: 8px 12px;
  border-radius: 8px;
  color: #ed3833;
  font-weight: 700;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #e4e4e4;
  width: 90%;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 24px 0;
  color: #5a5a5a;
  margin-left: 12px;
}

.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  margin-left: 12px;
}

.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.small-sidebar {
  width: -moz-fit-content;
  width: fit-content;
}

.small-sidebar a p {
  display: none;
}

.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 100%;
  margin-bottom: 25px;
}

.small-sidebar .shortcut-links a {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
}

.small-sidebar a img {
  margin-right: 0;
}

/*---------- Main ----------*/
.container {
  background: white;
  padding-left: 240px;
  padding-right: 2%;
  padding-top: 24px;
  padding-bottom: 60px;
  width: 100%;
}

.large-container {
  padding-left: 120px;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(Images/banner2.jpg);
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.banner-title {
  font-size: 32px;
  margin-bottom: 12px;
}

.banner-title span {
  text-decoration: line-through;
}

.banner-paragraph {
  font-size: 18px;
  margin-bottom: 56px;
  line-height: 150%;
}

.banner-button {
  padding: 16px 36px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: white;
}

.banner-button:hover {
  background: #e4e4e4;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  margin-top: 40px;
}

.vid-list-item .thumbnail {
  width: 100%;
  border-radius: 8px;
}

.vid-list-item .flex-div {
  align-items: flex-start;
  margin-top: 7px;
}

.vid-list-item .flex-div img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.vid-info {
  color: #5a5a5a;
  font-size: 15px;
}

.vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.vid-info p:last-child {
  margin-top: 4px;
}

/* ---------- Play Video Page ---------- */

.video-container {
  padding-left: 2%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.play-video {
  flex-basis: 69%;
}

.right-sidebar {
  flex-basis: 30%;
}

.play-video video {
  width: 100%;
  border-radius: 8px;
}

.strike-through {
  text-decoration: line-through;
}

.side-video-list {
  display: flex;
  row-gap: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.side-video-list img {
  width: 100%;
}

.side-video-list .small-thumbnail {
  flex-basis: 49%;
}

.small-thumbnail img {
  border-radius: 8px;
}

.side-video-list .vid-info {
  flex-basis: 49%;
}

.play-video .tags a {
  color: #00f;
  font-size: 13px;
  margin-right: 8px;
}

.play-video h3 {
  font-size: 24px;
}

.play-video .play-video-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  font-size: 13px;
  color: #5a5a5a;
}

.play-video .play-video-info a img {
  width: 16px;
  margin-right: 8px;
}

.play-video .play-video-info a {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.play-video hr {
  border: none;
  height: 1px;
  background: #e4e4e4;
  margin: 16px 0;
}

.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.publisher-info {
  flex: 1;
  line-height: 18px;
}

.publisher-info p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.publisher-info span {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 13px;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher button {
  background: red;
  color: white;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.vid-description {
  padding-left: 55px;
  margin: 32px 0;
}

.vid-description p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #5a5a5a;
}

.vid-description .text {
  margin-bottom: 32px;
  line-height: 150%;
}

.vid-description h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 28px;
}

.add-comment {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.add-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.add-comment input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 6px;
  background: transparent;
}

.old-comment {
  display: flex;
  align-items: start;
  margin: 20px 0;
}

.old-comment img {
  width: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.old-comment h3 {
  font-size: 13px;
  margin-bottom: 4px;
  color: #5a5a5a;
}

.old-comment h3 span {
  font-size: 12px;
  font-weight: 400;
  color: #5a5a5a;
  margin-left: 4px;
}

.old-comment p {
  font-size: 14px;
}

.old-comment .comment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}

.old-comment .comment-action img {
  width: 16px;
  border-radius: 0;
  margin-right: 5px;
}

.old-comment .comment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}

.old-comment .comment-action a {
  color: #00f;
  font-weight: 500;
}

/*---------- Mobile ----------*/

@media (max-width: 912px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .container,
  .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-right img {
    display: none;
  }
  .nav-right .avatar {
    display: block;
    width: 24px;
  }
  .nav-left .logo {
    width: 88px;
  }
  .nav-middle .voice-search-icon {
    width: 12px;
  }
  nav {
    padding-left: 3%;
    padding-right: 3%;
  }
  .banner-title {
    font-size: 24px;
  }
  .banner-paragraph {
    font-size: 16px;
  }
  .banner {
    height: 320px;
  }
  .banner-button {
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background: white;
  }

  .play-video {
    flex-basis: 100%;
  }
  .right-sidebar {
    flex-basis: 100%;
  }
  .video-container {
    padding-left: 3%;
    padding-right: 3%;
  }
  .vid-description {
    padding-left: 0;
  }

  .play-video .play-video-info {
    padding-left: 0;
    margin-left: 0;
    row-gap: 15px;
  }

  .play-video .play-video-info a {
    margin-left: 0;
    margin-right: 15px;
  }

  .container {
    padding-bottom: 30px;
  }

  .side-video-list .small-thumbnail {
    flex-basis: 100%;
  }

  .side-video-list .vid-info {
    flex-basis: 100%;
  }
}
